services:
  valheim:
    build: .
    image: drummercraig/valheim-server-ubuntu2404
    container_name: valheim-server
    env_file:
      - .env
    volumes:
      - ./valheim-data:/valheim-data
    ports:
      - "2456-2458:2456-2458/udp"
    restart: unless-stopped
